// Variables of Remix scheme
// ==================================================

@import 'Pisces';

// Settings for some of the most global styles.
// --------------------------------------------------
$body-bg-color           = #eee;

// Borders.
// --------------------------------------------------
$box-shadow-inner        = 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
$box-shadow              = 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);

$content-desktop-large        = 70rem;
$content-desktop-largest      = 70rem;

$border-radius-inner     = 10px;
$border-radius           = 10px;
