<div class="powered-by">
  {%- set next_site = 'https://github.com/Tonny-Gu/hexo-next-remix' %}
  {{- __('footer.powered', next_url('https://hexo.io', 'Hexo') + ' & ' + next_url(next_site, 'NexT.' + theme.scheme + ' (by NekoDaemon)')) }}
</div>