@import '../css/_schemes/Pisces/_layout';
@import '../css/_schemes/Pisces/_header';
@import '../css/_schemes/Pisces/_menu';
@import '../css/_schemes/Pisces/_sub-menu';
@import '../css/_schemes/Pisces/_sidebar';

figure.highlight {
    border-radius: $border-radius;
}

.table-container {
    border-radius: $border-radius;
}

if (hexo-config('creative_commons.post')) {
  .post-copyright ul {
      border-radius: $border-radius;
      border: 0px;
  }
}

.menu {
    padding: 10px;
}

.menu .menu-item {
    a {
        border-radius: 6px;
        padding: 5px 20px;
    }
}

// if (not hexo-config('menu_settings.badges')) {
//   .main-menu .menu-item-active::after {
//       display: none;
//   }
// }

// .sidebar-inner {
//     padding-left: 0;
//     padding-right: 0;
// }

.site-state-item {
    padding: 0;
    a {
        padding: 0 10px;
        border-bottom: 0;
        border-radius: 6px;
        transition-duration: .2s;
        &:hover {
            background: var(--body-bg-color);
        }
    }
}

.links-of-author {
    padding: 0 20px;
}

.links-of-author-item {
    a {
        transition-duration: .2s;
    }
}

.links-of-blogroll-title {
    border-top: 1px solid var(--body-bg-color);
    padding-top: 10px;
    // margin: 0 50px;
}

.links-of-blogroll-list {
    // display: grid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    // grid-template-columns: repeat(2, 1fr);
    a {
        border-bottom: none;
    }
}

.links-of-blogroll-item {
    border-bottom: 0;
    border-radius: 4px;
    margin: 0;
    // display: inline-grid;
    display: inline-flex;
    transition-duration: .2s;

    a {
        padding: 0 8px;
    }
    &:hover {
        background: var(--body-bg-color);
    }
}

.posts-expand .post-header {
    margin-bottom: 20px;
    text-align: left;
}

.post-meta {
    // padding-top: 10px;
    justify-content: left;
}

.index > {
    .post-block {
        .post-body {
            > p {
                margin: 0;
            }
        }
    //     padding-bottom: $sidebar-offset - 20px;
    }
}

.footer {
    padding: 10px 0;
}

.posts-expand .post-meta-container {
    time {
        border-bottom: none;
    }
}

.powered-by-inject {
    a {
        border-bottom: none;
        &:hover {
            border-bottom: 1px solid var(--link-hover-color);
        }
    }
}

.copyright-inject {
    a {
        border-bottom: none;
        &:hover {
            border-bottom: 1px solid var(--link-hover-color);
        }
    }
}

/*
.btn {
    padding: 0;
    border: 0;
    &:hover {
        background: var(--btn-default-bg);
        color: var(--btn-default-color);
    }
}

.post-button {
    margin-top: 0px;
    text-align: left;
}*/

.pagination {
    .prev, .next, .page-number {
        padding: 0;
        display: inline-block;
        margin: 0 .5em;
        width: 2.5em;
        height: 2.5em;
        line-height: 2.5;
        border: 0;
        border-radius: 100%;
        // background: var(--content-bg-color);
        transition-property: background;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;

        &:hover {
            color: $pagination-active-color;
            background: $pagination-active-bg;
        }
    }
}

if (hexo-config('back2top.sidebar')) {
  // Only when back2top.sidebar is true, apply the following styles
  .back-to-top {
    display: none;

    &.back-to-top-on {
      display: block;
    }
  }
}


.main-inner > {
    .pagination {
        background-color: transparent;
    }
}

+desktop() {
    .main-inner > {
        .pagination {
            padding: 0;
        }
    }

    .headband {
        display: none;
    }

    .main-inner {
        margin-top: $sidebar-offset;
    }

    .header {
        margin-top: $sidebar-offset;
    }

    .site-brand-container {
        display: none;
    }
}

if (hexo-config('toc.enable')) {
    .post-toc {
        // ol {
        //     padding-left: 20px;
        // }
        a {
            border-bottom: none;
            &:hover {
                border-bottom: 1px solid var(--link-hover-color);
            }
        }
    }
}

:root {
    /*
    --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
    --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
    --base-font-family: "Lato", var(--sys-font-family), var(--zh-font-family), sans-serif;
    --code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-family: var(--base-font-family);
    */
    -webkit-font-smoothing: antialiased;
}